* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 74px;
  background-color: #222222;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__icon-set1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header__logo {
  width: 44px;
  height: 38px;
  cursor: pointer;
}

.header__glass {
  width: 26px;
  margin-left: 41px;
  cursor: pointer;
}

.header__icon-set2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  left: 5%;
}

.header__icon-set2 > * {
  margin-right: 20px;
  width: 32px;
  height: 30px;
  cursor: pointer;
}

.cart-item::before {
  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -0.5rem;
  right: 3rem;
  border-radius: 1em;
  background-color: #f26376;
  content: "5";
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
}

.dropdown {
  display: none;
  flex-direction: column;
  width: 232px;
  height: 630px;
  position: absolute;
  top: 4.6rem;
  right: 25%;
  border-radius: 1em;
  background-color: #ffffff;
  box-shadow: 1px 1px 55px 1px rgba(0, 0, 0, 0.507);
  justify-content: center;
  align-items: left;
  font-weight: bold;
  z-index: 4;
}

.dropdown-headline {
  padding: 1rem;
  color: #000;
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: 700;
}

.menu-list__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #f26376;
  padding: 1rem;
  color: #F16D7F;
  font-size: 1rem;
  font-family: "Lato";
}

.menu-list__items > a {
  text-decoration: none;
  margin-left: 1rem;
  color: #6f6e6e;
  font-size: 1rem;
  font-family: "Lato";
}

.menu-list__items > a:hover {
  color: #f15858;
}

.burger-icon:hover .dropdown {
  display: flex;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 777px;
  background-color: #f1e4e6;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.hero-section-img {
  max-width: 100%;
  margin-left: -24rem;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 0;
}

.hero-line-element {
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
}

.hero-logo-text-wrapper {
  margin-left: 16px;
}

.logo-line1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.logo-line2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.final-word {
  color: #F16D7F;
}

.tile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.tile-section__tile1 > img,
.tile-section__tile2 > img,
.tile-section__tile3 > img {
  width: 100%;
}

.logo-image {
  width: 1140px;
}

.tile-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1140px;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  max-height: 260px;
}

.tile-section,
.tile-section__tile4 > * {
  text-transform: uppercase;
}

.tile-section__tile1 > *:not(img),
.tile-section__tile2 > *:not(img),
.tile-section__tile3 > *:not(img) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
}

.tile-section__tile4 > *:not(img) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 9rem;
}

.tile-line1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.tile-line2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.tile2-line1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.long-img {
  margin-top: 30px;
  max-width: 100%;
}

.featured-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.featured-title {
  margin-top: 96px;
  margin-bottom: 6px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.featured-description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 48px;
}

.featured-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: min(100% - 0rem, 1140px);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.featured-card > img {
  width: 100%;
}

.featured-card {
  display: flex;
  flex-direction: column;
  width: min(100% - 0rem, 360px);
  position: relative;
  cursor: pointer;
}

.card-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  inset: 0;
  margin: auto;
  position: absolute;
  top: -30%;
  z-index: 5;
  transition: all 0.3s ease;
}

.featured-card:hover .card-overlay {
  display: flex;
  cursor: pointer;
}

.featured-card img:hover {
  position: relative;
  z-index: 2;
  filter: contrast(10%);
}

.card-overlay:hover ~ img {
  filter: contrast(10%);
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.card-icon {
  width: 32px;
  height: 29px;
  margin-right: 1rem;
  position: relative;
}

.card-icon path {
  fill: #ffffff;
}

.featured-card-title {
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.featured-card-desc {
  margin-bottom: 16px;
  width: min(100% - 0rem, 315px);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 1rem;
  color: #5d5d5d;
}

.featured-card-price {
  margin-bottom: 24px;
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.featured-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem, 212px);
  height: 48px;
  border: 1px solid #ff6a6a;
  background: none;
  margin-top: 48px;
  margin-bottom: 60px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  cursor: pointer;
  transition: all 0.2s;
}

.featured-btn:hover {
  background-color: #F16D7F;
  border-color: #ff6a6a;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.additional-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem);
  height: 300px;
  background-color: #222222;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 360px);
  height: 134px;
}

.info-icon1 {
  display: inline-block;
  background: url(./img/icons/truck.svg) no-repeat;
  width: 46px;
  height: 32px;
}

.info-icon2 {
  display: inline-block;
  background: url(./img/icons/discount.svg) no-repeat;
  width: 40px;
  height: 38px;
}

.info-icon3 {
  display: inline-block;
  background: url(./img/icons/crown.svg) no-repeat;
  width: 48px;
  height: 35px;
}

.info-headline {
  color: #fbfbfb;
  font-size: 1.2475rem;
  font-family: "Lato";
  margin-top: 1.75rem;
}

.info-description {
  display: flex;
  width: 22.5rem;
  height: 2.125rem;
  color: #fbfbfb;
  text-align: center;
  font-size: 0.87325rem;
  font-family: "Lato";
  font-weight: 300;
  margin-top: 1rem;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
  position: relative;
  width: min(100% - 0rem);
  height: 448px;
  background-image: url(./img/jpgs_pngs/Layer_41.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  z-index: 1;
}

.subscribe-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 360px);
  height: 225px;
  position: relative;
  z-index: 2;
}

.sub-left-pic {
  margin-bottom: 30px;
}

.subscribe-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 557px);
  height: 225px;
  margin: 0;
  color: #222224;
  font-size: 1.5rem;
  font-family: "Lato";
  font-weight: 700;
  line-height: 167.2%;
  position: relative;
  z-index: 2;
}

.subscribe-desc {
  display: flex;
  color: #222224;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Lato";
  text-wrap: balance;
}

.subscribe-desc2 {
  color: #222224;
  font-size: 1.25rem;
  font-family: "Lato";
  font-style: italic;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 32px;
}

.sub-email {
  display: flex;
  width: 356px;
  height: 49px;
  color: #F16D7F;
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
}

.sub-email::-moz-placeholder {
  color: #222224;
}

.sub-email::placeholder {
  color: #222224;
}

.sub-btn {
  width: 126px;
  height: 49px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 1em 1em 0;
  background-color: #F16D7F;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sub-btn:hover {
  background-color: #d6001d;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem);
  height: 79px;
  background-color: #222224;
}

.footer-copyright {
  display: flex;
  width: min(100% - 0rem, 332px);
  color: #fbfbfb;
  font-size: 1rem;
  font-family: "Lato";
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 148px);
  margin-left: 40rem;
  gap: 8px;
}

.icon {
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  background-color: #f26376;
}

.icon:hover path {
  transition: all 0.2s ease-in-out;
  fill: #ffffff;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  cursor: pointer;
}

/* Tablet queries */
@media (width < 1024px) {
  .header__navigation {
    height: 74px;
    background-color: #222222;
  }
  .header__logo {
    width: 44px;
    height: 38px;
    margin-left: 32px;
    margin-top: 18px;
    cursor: pointer;
  }
  .header__icon-set {
    justify-content: center;
    align-items: center;
  }
  .hero-section {
    width: min(100% - 0rem, 768px);
    height: 368px;
  }
  .hero-section > img {
    max-width: 100%;
    height: 368px;
  }
  .hero-logo {
    display: flex;
  }
  .header__icon-set {
    display: block;
    width: min(100% - 0rem, 200px);
    margin-top: 25px;
    position: relative;
    left: 55%;
  }
  .logo-line1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
  .logo-line2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .tile-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0 auto;
    gap: 18px;
    margin-top: 20px;
    height: 167px;
  }
  .tile-section__tile1 > img,
  .tile-section__tile2 > img,
  .tile-section__tile3 > img {
    width: min(100% - 0rem, 232px);
    max-height: 167px;
  }
  .tile-section__tile4 > p {
    top: 6rem;
  }
  .long-img {
    margin-top: 19px;
    max-width: 734px;
  }
  .featured-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: min(100% - 0rem, 736px);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 28px;
  }
  .featured-btn {
    margin-top: 20px;
  }
  .additional-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 1000px);
    height: 610px;
    background-color: #222224;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    width: min(100% - 0rem, 360px);
    height: 134px;
  }
  .info1 {
    margin-top: 48px;
  }
  .info3 {
    margin-bottom: 64px;
  }
  .info-icon1 {
    display: inline-block;
    background: url(./img/icons/truck.svg) no-repeat;
    width: 46px;
    height: 32px;
  }
  .info-icon2 {
    display: inline-block;
    background: url(./img/icons/discount.svg) no-repeat;
    width: 40px;
    height: 38px;
  }
  .info-icon3 {
    display: inline-block;
    background: url(./img/icons/crown.svg) no-repeat;
    width: 48px;
    height: 35px;
  }
  .info-headline {
    color: #fbfbfb;
    font-size: 1.2475rem;
    font-family: "Lato";
    margin-top: 1.75rem;
  }
  .info-description {
    display: flex;
    width: 22.5rem;
    height: 2.125rem;
    color: #fbfbfb;
    text-align: center;
    font-size: 0.87325rem;
    font-family: "Lato";
    font-weight: 300;
    margin-top: 1rem;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 1000px);
    height: 693px;
    background-image: url(./img/jpgs_pngs/Layer_41.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: 1;
  }
  .subscribe-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 360px);
    height: 225px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  .subscribe-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 557px);
    height: 225px;
    margin-top: 48px;
    color: #222224;
    font-size: 1.5rem;
    font-family: "Lato";
    font-weight: 700;
    line-height: 167.2%;
    position: relative;
    z-index: 2;
  }
  .subscribe-desc {
    color: #222224;
    text-align: center;
    font-size: 1.25rem;
    font-family: "Lato";
    text-wrap: nowrap;
  }
  .subscribe-desc2 {
    color: #222224;
    font-size: 1.25rem;
    font-family: "Lato";
    font-style: italic;
    text-wrap: nowrap;
  }
  .input-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 140px;
  }
  .sub-email {
    display: flex;
    width: 356px;
    height: 49px;
    color: #f16d7f;
    border-style: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
  }
  .sub-email::-moz-placeholder {
    color: #222224;
  }
  .sub-email::placeholder {
    color: #222224;
  }
  .sub-btn {
    width: 126px;
    height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 1em 1em 0;
    background-color: #f16d7f;
    color: #fff;
    cursor: pointer;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 1000px);
    height: 79px;
    background-color: #222224;
  }
  .footer-copyright {
    display: flex;
    text-wrap: nowrap;
    width: min(100% - 0rem, 250px);
    color: #fbfbfb;
    font-size: 1rem;
    font-family: "Lato";
    margin-left: 10%;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 148px);
    margin-left: 30%;
    gap: 8px;
  }
  .icon {
    transition: all 0.2s ease-in-out;
  }
  .icon:hover {
    background-color: #f26376;
  }
  .icon:hover path {
    transition: all 0.2s ease-in-out;
    fill: white;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: white;
    cursor: pointer;
  }
}
/* Mobile queries */
@media (width < 768px) {
  body {
    padding: 0 0.01rem;
  }
  .header__navigation {
    height: 74px;
    background-color: #222222;
  }
  .header__logo {
    width: 44px;
    height: 38px;
    margin-left: 16px;
    margin-top: 18px;
    cursor: pointer;
  }
  .header__icon-set {
    justify-content: center;
    align-items: center;
  }
  .profile-icon,
  .cart-icon {
    display: none;
  }
  .cart-item::before {
    display: none;
  }
  .hero-section {
    width: 100%;
    height: 363px;
  }
  .hero-section > img {
    display: none;
  }
  .hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .header__icon-set {
    display: block;
    width: min(100% - 0rem, 32px);
  }
  .logo-line1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
  .logo-line2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .tile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 auto;
    margin-top: 380px;
  }
  .tile-section__tile1 > img,
  .tile-section__tile2 > img,
  .tile-section__tile3 > img {
    width: min(100% - 0rem, 343px);
    max-height: 247px;
  }
  .tile-section__tile4 {
    margin-top: 210px;
  }
  .tile-section__tile4 > p {
    top: 15rem;
    position: relative;
    z-index: 1;
  }
  .long-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 343px);
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
    position: relative;
    top: 10rem;
  }
  .featured-title {
    margin-top: 15rem;
  }
  .featured-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 28px;
  }
  .featured-btn {
    margin-top: 20px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem);
    height: 550px;
    background-image: url(./img/jpgs_pngs/Layer_41.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    z-index: 1;
  }
  .subscribe-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 343px);
    height: 194px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    margin-top: 64px;
  }
  .subscribe-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 341px);
    height: 123px;
    margin-top: 59px;
    color: #222224;
    font-size: 1.5rem;
    font-family: "Lato";
    font-weight: 700;
    line-height: 167.2%;
    position: relative;
    z-index: 2;
  }
  .subscribe-desc {
    display: flex;
    color: #222224;
    text-align: center;
    font-size: 1.25rem;
    font-family: "Lato";
    text-wrap: balance;
  }
  .subscribe-desc2 {
    color: #222224;
    font-size: 1.25rem;
    font-family: "Lato";
    font-style: italic;
    margin-bottom: 3.69rem;
  }
  .input-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 6.87rem;
  }
  .sub-email {
    display: flex;
    width: 341px;
    height: 49px;
    color: #f16d7f;
    border-style: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
  }
  .sub-email::-moz-placeholder {
    color: #222224;
  }
  .sub-email::placeholder {
    color: #222224;
  }
  .sub-btn {
    width: 126px;
    height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 1em 1em 0;
    background-color: #f16d7f;
    color: #fff;
    cursor: pointer;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 1000px);
    height: 143px;
    background-color: #222224;
  }
  .footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 4rem;
    width: min(100% - 0rem, 250px);
    color: #fbfbfb;
    font-size: 1rem;
    font-family: "Lato";
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 148px);
    gap: 8px;
  }
  .icon {
    transition: all 0.2s ease-in-out;
  }
  .icon:hover {
    background-color: #f26376;
  }
  .icon:hover path {
    transition: all 0.2s ease-in-out;
    fill: white;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: white;
    cursor: pointer;
  }
}
.products__header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 74px;
  background-color: #222222;
  padding-left: 1rem;
  padding-right: 1rem;
}

.products__header__icon-set1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.products__header__logo {
  width: 44px;
  height: 38px;
  cursor: pointer;
}

.products__header__glass {
  width: 26px;
  margin-left: 41px;
  cursor: pointer;
}

.products__header__icon-set2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  left: 5%;
}

.products__header__icon-set2 > * {
  margin-right: 20px;
  width: 32px;
  height: 30px;
  cursor: pointer;
}

.products__cart-item::before {
  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -0.5rem;
  right: 3rem;
  border-radius: 1em;
  background-color: #f26376;
  content: "5";
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
}

.products__dropdown {
  display: none;
  flex-direction: column;
  width: 232px;
  height: 630px;
  position: absolute;
  top: 4.6rem;
  right: 25%;
  border-radius: 1em;
  background-color: #ffffff;
  box-shadow: 1px 1px 55px 1px rgba(0, 0, 0, 0.507);
  justify-content: center;
  align-items: left;
  font-weight: bold;
  z-index: 4;
}

.products__dropdown-headline {
  padding: 1rem;
  color: #000;
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: 700;
}

.products__menu-list__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #f26376;
  padding: 1rem;
  color: #F16D7F;
  font-size: 1rem;
  font-family: "Lato";
}

.products__menu-list__items > a {
  text-decoration: none;
  margin-left: 1rem;
  color: #6f6e6e;
  font-size: 1rem;
  font-family: "Lato";
}

.products__menu-list__items > a:hover {
  color: #f15858;
}

.products__burger-icon:hover .dropdown {
  display: flex;
}

.products__bread-crumbs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 148px;
  background-color: #f8f3f4;
}

.products__bread-crumbs__heading,
.products__bread-crumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.products__bread-crumbs {
  color: #636363;
  font-size: 0.875rem;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.products__bread-crumbs__heading {
  color: #F16D7F;
  font-size: 1.5rem;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
}

.products__bread-crumb3 {
  color: #F16D7F;
  font-weight: 600;
}

.products__hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1600px;
  height: 777px;
  background-color: #f7f7f7;
  position: relative;
  z-index: 1;
}

.products__hero-section > img {
  max-width: 100%;
}

.products__left-arrow,
.products__right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(42, 42, 42, 0.1764705882);
  cursor: pointer;
}
.products__left-arrow:hover path,
.products__right-arrow:hover path {
  transition: all 0.2s;
  fill: #F16D7F;
}

.products__left-arrow path,
.products__right-arrow path {
  transition: all 0.2s;
}

.products__left-arrow {
  left: 0;
}

.products__right-arrow {
  right: 0;
}

.svg2 path {
  fill: black;
}

.products__collection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: min(100% - 0rem, 1142px);
  height: 600px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  position: relative;
  top: -4rem;
  z-index: 1;
  padding: 0 64.5px;
}

.products__collection-tag {
  color: #F16D7F;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 300;
}

.products__collection-line {
  width: 3.9375rem;
  height: 0.18906rem;
  background-color: #EF5B70;
  margin-top: 0.76rem;
  margin-bottom: 0.76rem;
}

.products__collection-heading {
  margin-bottom: 3rem;
  color: #4d4d4d;
  font-size: 1.125rem;
  font-family: Lato;
  font-weight: 300;
}

.products__collection-description {
  width: min(100% - 0rem, 34.6875rem);
  color: #5e5e5e;
  text-align: center;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

.products__collection-price {
  color: #EF5B70;
  font-size: 1.5rem;
  font-family: Lato;
  font-weight: 300;
  margin-bottom: 4rem;
}

.products__collection-line2 {
  width: 40.0625rem;
  height: 0.01rem;
  background-color: rgba(94, 94, 94, 0.0901960784);
}

.products__collection-size-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1.44rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.products__collection-size-wrapper * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #6f6e6e;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 400;
}

.products__collection-choose-color {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 0.6rem;
}

.products__collection-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 0.6rem;
}

.products__collection-choose-size {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 0.6rem;
}

.products__collection-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
  background: none;
  color: #f26376;
  font-size: 1rem;
  font-family: Lato;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
}
.products__collection-cart-btn:hover {
  background: #F16D7F;
  color: #ffffff;
}
.products__collection-cart-btn__.products-cart-icon path {
  fill: #ef5b70;
}
.products__collection-cart-btn__.products-cart-icon path:hover {
  fill: #ffffff;
}

.products__featured-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: min(100% - 0rem, 1140px);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.products__featured-card > img {
  max-width: 100%;
}

.products__featured-card {
  display: flex;
  flex-direction: column;
  width: min(100% - 0rem, 360px);
  position: relative;
  cursor: pointer;
  background-color: #f8f8f8;
}

.products__card-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  inset: 0;
  margin: auto;
  position: absolute;
  top: -30%;
  z-index: 5;
  transition: all 0.3s ease;
}

.products__featured-card:hover .products__card-overlay {
  display: flex;
  cursor: pointer;
}

.products__featured-card img:hover {
  position: relative;
  z-index: 2;
  filter: contrast(10%);
}

.products__card-overlay:hover ~ img {
  filter: contrast(10%);
}

.products__add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.products__card-icon {
  width: 32px;
  height: 29px;
  margin-right: 1rem;
  position: relative;
}

.products__card-icon path {
  fill: #ffffff;
}

.products__featured-card-title {
  margin-top: 24px;
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.products__featured-card-desc {
  width: min(100% - 0rem, 315px);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 1rem;
  color: #5d5d5d;
}

.products__featured-card-price {
  margin-bottom: 24px;
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products__featured-btn:hover {
  background-color: #F16D7F;
  border-color: #ff6a6a;
  color: #ffffff;
}

.products__subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  height: 448px;
  background-image: url(./../img/jpgs_pngs/Layer_41.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.products__subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  z-index: 1;
}

.products__subscribe-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 360px);
  height: 225px;
  position: relative;
  top: -2rem;
  left: -7.5rem;
  z-index: 2;
}

.products__sub-left-pic {
  margin-bottom: 40px;
}

.products__subscribe-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 557px);
  height: 225px;
  color: #222224;
  font-size: 1.5rem;
  font-family: "Lato";
  font-weight: 700;
  line-height: 167.2%;
  position: relative;
  z-index: 2;
  top: -0.5rem;
  left: 7rem;
}

.products__subscribe-desc {
  display: flex;
  color: #222224;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Lato";
  text-wrap: balance;
  margin-top: -1rem;
}

.products__subscribe-desc2 {
  color: #222224;
  font-size: 1.25rem;
  font-family: "Lato";
  font-style: italic;
}

.products__input-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 32px;
}

.products__sub-email {
  display: flex;
  width: 356px;
  height: 49px;
  color: #F16D7F;
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
}

.products__sub-email::-moz-placeholder {
  color: #222224;
}

.products__sub-email::placeholder {
  color: #222224;
}

.products__sub-btn {
  width: 126px;
  height: 49px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 1em 1em 0;
  background-color: #F16D7F;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.products__sub-btn:hover {
  background-color: #d6001d;
  color: #fff;
}

.products__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem);
  height: 79px;
  background-color: #222224;
}

.products__footer-copyright {
  display: flex;
  width: min(100% - 0rem, 332px);
  color: #fbfbfb;
  font-size: 1rem;
  font-family: "Lato";
}

.products__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 148px);
  margin-left: 40rem;
  gap: 8px;
}

.products__icon {
  transition: all 0.2s ease-in-out;
}

.products__icon:hover {
  background-color: #f26376;
}

.products__icon:hover path {
  transition: all 0.2s ease-in-out;
  fill: #ffffff;
}

.products__icon1,
.products__icon2,
.products__icon3,
.products__icon4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  cursor: pointer;
}

.catalog__header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 74px;
  background-color: #222222;
  padding-left: 1rem;
  padding-right: 1rem;
}

.catalog__header__icon-set1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.catalog__header__logo {
  width: 44px;
  height: 38px;
  cursor: pointer;
}

.catalog__header__glass {
  width: 26px;
  margin-left: 41px;
  cursor: pointer;
}

.catalog__header__icon-set2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  left: 5%;
}

.catalog__header__icon-set2 > * {
  margin-right: 20px;
  width: 32px;
  height: 30px;
  cursor: pointer;
}

.catalog__cart-item::before {
  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -0.5rem;
  right: 3rem;
  border-radius: 1em;
  background-color: #f26376;
  content: "5";
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
}

.catalog__dropdown {
  display: none;
  flex-direction: column;
  width: 232px;
  height: 630px;
  position: absolute;
  top: 4.6rem;
  right: 25%;
  border-radius: 1em;
  background-color: #ffffff;
  box-shadow: 1px 1px 55px 1px rgba(0, 0, 0, 0.507);
  justify-content: center;
  align-items: left;
  font-weight: bold;
  z-index: 4;
}

.catalog__dropdown-headline {
  padding: 1rem;
  color: #000;
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: 700;
}

.catalog__menu-list__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #f26376;
  padding: 1rem;
  color: #F16D7F;
  font-size: 1rem;
  font-family: "Lato";
}

.catalog__menu-list__items > a {
  text-decoration: none;
  margin-left: 1rem;
  color: #6f6e6e;
  font-size: 1rem;
  font-family: "Lato";
}

.catalog__menu-list__items > a:hover {
  color: #f15858;
}

.catalog__burger-icon:hover .dropdown {
  display: flex;
}

.catalog__bread-crumbs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 148px;
  background-color: #f8f3f4;
}

.catalog__bread-crumbs__heading,
.catalog__bread-crumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.catalog__bread-crumbs {
  color: #636363;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 300;
}

.catalog__bread-crumbs__heading {
  color: #F16D7F;
  font-size: 1.5rem;
  font-family: Lato;
  font-weight: 400;
}

.catalog__bread-crumb3 {
  color: #F16D7F;
  font-weight: 600;
}

.catalog__filter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  width: min(100% - 0rem, 1140px);
  position: relative;
}
.catalog__filter-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem, 1140px);
  position: absolute;
  top: 0rem;
  left: 0rem;
}
.catalog__filter-details[open] {
  z-index: 4;
  width: 360px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px black;
}
.catalog__filter-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: min(100% - 0rem, 80px);
  padding: 13px 13px 13px 0px;
}
.catalog__filter-tag {
  color: #000;
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: 600;
}
.catalog__selectors-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 0.8rem;
}
.catalog__selectors-wrapper > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: 400;
  gap: 1.15rem;
  margin-right: 10px;
}
.catalog__wrapper-pink, .catalog__wrapper-pink2, .catalog__wrapper-pink3 {
  display: flex;
}
.catalog__pink-stripe, .catalog__pink-stripe2, .catalog__pink-stripe3 {
  display: flex;
  width: 5px;
  height: 37px;
  background-color: #EF5B70;
}
.catalog__pink-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  align-items: left;
  margin-left: 1rem;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: 400;
  transition: all 0.5s;
  cursor: pointer;
}
.catalog__pink-heading:hover {
  color: #EF5B70;
}
.catalog__pink-heading2, .catalog__pink-heading3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  align-items: left;
  margin-left: 1rem;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: 400;
  transition: all 0.5s;
  cursor: pointer;
}
.catalog__pink-heading2:hover, .catalog__pink-heading3:hover {
  color: #EF5B70;
}
.catalog__grey-line, .catalog__grey-line2, .catalog__grey-line3 {
  display: flex;
  height: 1px;
  background-color: #EBEBEB;
}
.catalog__details-menu-items {
  list-style: none;
  margin: 0 1.12rem;
}
.catalog__details-menu-points {
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
}
.catalog__details-menu-points li, .catalog__details-menu-points a, .catalog__details-menu-points * {
  color: #6F6E6E;
  text-decoration: none;
}
.catalog__menu-link {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.catalog__grey-line2 {
  margin-bottom: 1.16rem;
}

.catalog__featured-cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: min(100% - 0rem, 1140px);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.catalog__featured-card > img {
  max-width: 100%;
}

.catalog__featured-card {
  display: flex;
  flex-direction: column;
  width: min(100% - 0rem, 360px);
  position: relative;
  cursor: pointer;
  background-color: #f8f8f8;
}

.catalog__card-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  inset: 0;
  margin: auto;
  position: absolute;
  top: -30%;
  z-index: 5;
  transition: all 0.3s ease;
}

.catalog__featured-card:hover .catalog__card-overlay {
  display: flex;
  cursor: pointer;
}

.catalog__featured-card img:hover {
  position: relative;
  z-index: 2;
  filter: contrast(10%);
}

.catalog__card-overlay:hover ~ img {
  filter: contrast(10%);
}

.catalog__add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.catalog__card-icon {
  width: 32px;
  height: 29px;
  margin-right: 1rem;
  position: relative;
}

.catalog__card-icon path {
  fill: #ffffff;
}

.catalog__featured-card-title {
  margin-top: 24px;
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.catalog__featured-card-desc {
  width: min(100% - 0rem, 315px);
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 1rem;
  color: #5d5d5d;
}

.catalog__featured-card-price {
  margin-bottom: 24px;
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.catalog__featured-btn:hover {
  background-color: #F16D7F;
  border-color: #ff6a6a;
  color: #ffffff;
}

.catalog__additional-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.catalog__additional-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 300px;
  background-color: #222222;
}

.catalog__info__info1,
.catalog__info__info2,
.catalog__info__info3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  height: 134px;
}

.catalog__info-icon1 {
  display: inline-block;
  background: url(../img/icons/truck.svg) no-repeat;
  width: 46px;
  height: 32px;
}

.catalog__info-icon2 {
  display: inline-block;
  background: url(../img/icons/discount.svg) no-repeat;
  width: 40px;
  height: 38px;
}

.catalog__info-icon3 {
  display: inline-block;
  background: url(../img/icons/crown.svg) no-repeat;
  width: 48px;
  height: 35px;
}

.catalog__info-headline {
  color: #fbfbfb;
  font-size: 1.2475rem;
  font-family: "Lato";
  margin-top: 1.75rem;
}

.catalog__info-description {
  display: flex;
  width: 22.5rem;
  height: 2.125rem;
  color: #fbfbfb;
  text-align: center;
  font-size: 0.87325rem;
  font-family: "Lato";
  font-weight: 300;
  margin-top: 1rem;
}

.catalog__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem);
  height: 79px;
  background-color: #222224;
}

.catalog__footer-copyright {
  display: flex;
  width: min(100% - 0rem, 332px);
  color: #fbfbfb;
  font-size: 1rem;
  font-family: "Lato";
}

.catalog__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 148px);
  margin-left: 40rem;
  gap: 8px;
}

.catalog__icon {
  transition: all 0.2s ease-in-out;
}

.catalog__icon:hover {
  background-color: #f26376;
}

.catalog__icon:hover path {
  transition: all 0.2s ease-in-out;
  fill: #ffffff;
}

.catalog__icon1,
.catalog__icon2,
.catalog__icon3,
.catalog__icon4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */