@use "../styles/mixins/variables" as a;

//nav header

.cart__header__navigation {
  @include a.centerFlex();
  height: 74px;
  background-color: a.$bgColor;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cart__header__icon-set1 {
  @include a.centerFlex();
}

.cart__header__logo {
  width: 44px;
  height: 38px;
  cursor: pointer;
}

.cart__header__glass {
  width: 26px;
  margin-left: 41px;
  cursor: pointer;
}

.cart__header__icon-set2 {
  @include a.centerFlex();
  position: relative;
  left: 5%;
}

.cart__header__icon-set2 > * {
  margin-right: 20px;
  width: 32px;
  height: 30px;

  cursor: pointer;
}

.cart__cart-item::before {
  display: flex;
  width: 20px;
  height: 20px;

  position: absolute;
  top: -0.5rem;
  right: 3rem;
  border-radius: 1em;
  background-color: a.$accentColor;
  content: "5";
  justify-content: center;
  align-items: center;
  color: a.$genericBg;
  font-weight: bold;
  z-index: 2;
}

//menu

.cart__dropdown {
  display: none;
  flex-direction: column;
  width: 232px;
  height: 630px;

  position: absolute;
  top: 4.6rem;
  right: 25%;
  border-radius: 1em;

  background-color: a.$genericBg;
  box-shadow: 1px 1px 55px 1px rgba(0, 0, 0, 0.507);
  justify-content: center;
  align-items: left;
  font-weight: bold;
  z-index: 4;
}

.cart__dropdown-headline {
  padding: 1rem;
  color: #000;
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: 700;
}

.cart__menu-list__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: a.$accentColor;
  padding: 1rem;

  color: a.$buttonHover;
  font-size: 1rem;
  font-family: "Lato";
}

.cart__menu-list__items > a {
  text-decoration: none;
  margin-left: 1rem;

  color: #6f6e6e;
  font-size: 1rem;
  font-family: "Lato";
}

.cart__menu-list__items > a:hover {
  color: #f15858;
}

.cart__burger-icon:hover .dropdown {
  display: flex;
}

//breadcrumbs

.cart__breadcrumbs_heading {
  display: flex;
  height: 9.25rem;
  color: a.$buttonHover;
  font-family: Lato;
  font-size: 1.5rem;
  font-weight: 400;
    background-color: #F8F3F4;
  position: relative;
  top: 0;
  padding: 0 25%;
}

.cart__breadcrumbs_head-link {
  color: a.$buttonHover;
  margin: 3.69rem 0;

}

// cart contents



.cart {
    &__contents {
        @include a.centerFlex();
    }

    &__left-panel {
        display: flex;
        flex-direction: column;
    }

    &__card {
        display: flex;
        width: 40.75rem;
        height: 19.13rem;
        background-color: a.$genericBg;
        box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.486);
        margin-bottom: 2.5rem;
    }
    
    &__img {
        max-width: 100%;
        max-height: 306px;
    }
    
    &__info-wrapper {
        display: flex;
        flex-direction: column;
        width: 16.375rem;
        height: 13.875rem;
        padding: 2rem;
    }

    &__item_quantity-wrapper {
        display: flex;
        & > input {
            width: 2rem;
        }
    }
    
    &__item {
        &_name {
            font-family: Lato;
            font-size: 1.5rem;
            font-weight: 400;
        }
        &_price, &_color, &_size, &_quantity {
            color: #575757;
            font-family: Lato;
            font-size: 1.375rem;
            font-weight: 400;
        }
        &_cross {
            display: flex;
            width: 50px;
            height: 50px;
            background: url(../../img/icons/cross-icon.svg);
        }
        &_quantity {
            margin-right: 1rem;
        }
    }
    
    &__btn-wrapper {
        display: flex;
    }
    &__clear-btn, &__continue-btn {
        @include a.centerFlex();
        width: 14.6875rem;
        height: 3.125rem;
        background: none;
        border: 1px solid #A4A4A4;

        color: #000;
        font-family: Lato;
        font-size: 0.875rem;
        font-weight: 300;

        margin-bottom: 8rem;
    }

    &__right-panel {
        display: flex;
        flex-direction: column;
        margin: 8rem 0 21rem 7rem;
        &_heading {
            color: #222;
            font-family: Lato;
            font-size: 1rem;
            font-weight: 300;
        }
        &_input {
            width: 360px;
            height: 45px;
            margin: 1rem 0;
            &::placeholder {
                padding-left: 1rem;
            }
        }
        
        &_quote-btn {
            width: 6.338rem;
            height: 2.1875rem;
        
            color: #4A4A4A;
            font-family: Lato;
            font-size: 0.6875rem;
            font-weight: 300;
            background: none;
            border: 1px solid #A4A4A4;
            margin-bottom: 3.56rem;
        }
    }
    
    &__checkout-price {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: end;
        padding: 2.6rem;
        width: 22.5rem;
        height: 13.375rem;
        background-color: #F5F3F3;
    
        &_subtotal-wrapper{
            display: flex;
            &_subtotal, 
            &_price {
                color: #4A4A4A;
                font-family: Lato;
                font-size: 0.6875rem;
                font-weight: 400;
                margin-bottom: 0.75rem;
                margin-left: 1rem;
            }
        }
    
        &_grantotal-wrapper {
            display: flex;
            &_grandtotal {
                color: #222;
                font-family: Lato;
                font-size: 1rem;
                font-weight: 300;
                margin-bottom: 1.3rem;
            }
            &_price {
                color: #F16D7F;
                margin-left: 1rem;
                font-family: Lato;
                font-size: 1rem;
                font-weight: 300;
            }
        }
    
    
        &_greyline {
            display: flex;
            width: 100%;
            height: 1px;
            margin-bottom: 1rem;
            background-color: rgba(74, 74, 74, 0.1);
        }
        &_proceed-btn {
            width: 17.0625rem;
            height: 3.125rem;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        
            background-color: #F16D7F;
            color: #FFF;
            border: none;
        
            font-family: Lato;
            font-size: 1rem;
            font-weight: 300;
            cursor: pointer;
        }
    }
}




// catalog additional info section



// cart__subscribe section

.cart__subscribe {
  @include a.centerFlex();
  position: relative;
  height: 448px;
  background-image: url(./../img/jpgs_pngs/Layer_41.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cart__subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  z-index: 1;
}

.cart__subscribe-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 360px);
  height: 225px;
  position: relative;
  top: -2rem;
  left: -7.5rem;
  z-index: 2;
}

.cart__sub-left-pic {
  margin-bottom: 40px;
}

.cart__subscribe-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 557px);
  height: 225px;
  color: #222224;

  font-size: 1.5rem;
  font-family: "Lato";
  font-weight: 700;
  line-height: 167.2%;

  position: relative;
  z-index: 2;
  top: -0.5rem;
  left: 7rem;
}

.cart__subscribe-desc {
  display: flex;
  color: #222224;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Lato";
  text-wrap: balance;
  margin-top: -1rem;
}

.cart__subscribe-desc2 {
  color: #222224;
  font-size: 1.25rem;
  font-family: "Lato";
  font-style: italic;
}

.cart__input-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 32px;
}

.cart__sub-email {
  display: flex;
  width: 356px;
  height: 49px;
  color: a.$buttonHover;
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
}

.cart__sub-email::placeholder {
  color: #222224;
}

.cart__sub-btn {
  width: 126px;
  height: 49px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 1em 1em 0;
  background-color: a.$buttonHover;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cart__sub-btn:hover {
  background-color: #d6001d;
  color: #fff;
}

// catalog footer

.cart__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem);
  height: 79px;
  background-color: #222224;
}

.cart__footer-copyright {
  display: flex;
  width: min(100% - 0rem, 332px);
  color: #fbfbfb;
  font-size: 1rem;
  font-family: "Lato";
}

.cart__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 148px);
  margin-left: 40rem;
  gap: 8px;
}

.cart__icon {
  transition: all 0.2s ease-in-out;
}

.cart__icon:hover {
  background-color: a.$accentColor;
}

.cart__icon:hover path {
  transition: all 0.2s ease-in-out;
  fill: a.$genericBg;
}

.cart__icon1,
.cart__icon2,
.cart__icon3,
.cart__icon4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: a.$genericBg;
  cursor: pointer;
}
