@use "../styles/mixins/variables" as a;

@media (width < 768px) {
  //nav header

  .cart__header__icon-set2 :not(.cart__header__icon-set2_burger) {
    display: none;
  }

  //breadcrumbs

  .cart__breadcrumbs {
    &_heading {
      @include a.centerFlex();
      position: relative;
      top: 0;
      padding: 0;
    }
  }

  // cart contents

  .cart {
    &__contents {
      @include a.centerFlex();
      flex-direction: column;
    }

    &__left-panel {
      display: flex;
      flex-direction: column;
      margin-top: 3.69rem;
    }

    &__card {
      display: flex;
      width: 358px;
      max-height: 188px;
      background-color: a.$genericBg;
      box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.486);
      margin-bottom: 2.5rem;
    }

    &__img {
      max-width: 100%;
      max-height: 188px;
    }

    &__info-wrapper {
      display: flex;
      flex-direction: column;
      width: 13.38381rem;
      height: 11.75rem;
      padding: 1rem;
    }
    &__item {
      &_name {
        color: #222;
        font-family: Lato;
        font-size: 1rem;
        margin-bottom: 1.6rem;
      }
      &_price,
      &_color,
      &_size,
      &_quantity {
        color: #575757;
        font-family: Lato;
        font-size: 0.875rem;
        font-weight: 400;
        &_number {
          color: #ef5b70;
        }
      }
      &_cross {
        display: block;
        position: relative;
        top: 0.5rem;
        left: -0.5rem;
        width: 30px;
        height: 30px;
        background: url("./../img/icons/cross-icon.svg") no-repeat center;
        cursor: pointer;
      }
      &_quantity {
        margin-right: 1rem;
        &_input {
          padding: 0 10px;
          &:focus {
            outline: none;
          }
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
    &__clear-btn,
    &__continue-btn {
      @include a.centerFlex();
      width: 10.9375rem;
      height: 2.0625rem;

      color: #575757;
      text-align: center;
      font-size: 0.75rem;
      font-weight: 400;

      margin-bottom: 5rem;
    }

    &__right-panel {
      display: flex;
      flex-direction: column;
      margin: 0;
      gap: 0rem;

      &_ship-wrapper {
        margin-top: -6rem;
        margin-bottom: 3rem;
      }
      &_heading {
        color: #222;
        font-family: Lato;
        font-size: 1rem;
        font-weight: 300;
        margin-top: 4rem;
      }
    }

    &__checkout-price {
      margin-bottom: 3rem;
    }
  }
}

// cart__subscribe section

.cart__subscribe {
  @include a.centerFlex();
  flex-direction: column;
  position: relative;
  height: 43.3125rem;
  background-image: url(./../img/jpgs_pngs/Layer_41.png);
}

.cart__subscribe-left {
  position: relative;
  top: 0rem;
  left: 0rem;
  z-index: 2;
}

.cart__subscribe-right {
  position: relative;
  z-index: 2;
  top: 0rem;
  left: 0rem;
}

// register footer

.cart__footer {
  @include a.centerFlex();
  flex-direction: column;
  height: 8.9375rem;
}

.cart__footer-copyright {
  display: flex;
  width: min(100% - 0rem, 250px);
  font-size: 1rem;
  margin-bottom: 1.56rem;
}

.cart__icons {
  margin-left: 0rem;
}
