@use "../styles/mixins/variables" as a;

@media (width < 1200px) {
  //breadcrumbs

  .cart__breadcrumbs {
    &_heading {
      position: relative;
      top: 0;
      padding: 0 5%;
    }
  }

  // cart contents

  .cart {
    &__contents {
      @include a.centerFlex();
      flex-direction: column;
    }

    &__left-panel {
      margin-top: 3.69rem;
    }

    &__right-panel {
      display: flex;
      flex-direction: row;
      margin: 0;
      gap: 1rem;

      &_ship-wrapper {
        margin-top: -6rem;
        margin-bottom: 4rem;
      }

      &_heading {
        margin-top: 4rem;
      }
    }
  }

  // cart__subscribe section

  .cart__subscribe {
    @include a.centerFlex();
    flex-direction: column;
    position: relative;
    height: 43.3125rem;
  }

  .cart__subscribe-left {
    position: relative;
    top: 0rem;
    left: 0rem;
    z-index: 2;
  }

  .cart__subscribe-right {
    position: relative;
    z-index: 2;
    top: 0rem;
    left: 0rem;
  }

  // cart footer

  .cart__icons {
    margin-left: 20rem;
    gap: 8px;
  }
}
