@use '../styles/mixins/variables' as a;

//nav header

.header__navigation {
    @include a.centerFlex();
    height: 74px;
    background-color: a.$bgColor;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header__icon-set1 {
    @include a.centerFlex();
  }
  
  .header__logo {
    width: 44px;
    height: 38px;
    cursor: pointer;
  }
  
  .header__glass {
    width: 26px;
    margin-left: 41px;
    cursor: pointer;
  }
  
  .header__icon-set2 {
    @include a.centerFlex();
    position: relative;
    left: 5%;
  }

  .header__icon-set2 > * {
    margin-right: 20px;
    width: 32px;
    height: 30px;

    cursor: pointer;
  }
  
  .cart-item::before {
    display: flex;
    width: 20px;
    height: 20px;
  
    position: absolute;
    top: -0.5rem;
    right: 3rem;
    border-radius: 1em;
    background-color: a.$accentColor;
    content: "5";
    justify-content: center;
    align-items: center;
    color: a.$genericBg;
    font-weight: bold;
    z-index: 2;
  }

  //menu
  
  .dropdown {
    display: none;
    flex-direction: column;
    width: 232px;
    height: 630px;
  
    position: absolute;
    top: 4.6rem;
    right: 25%;
    border-radius: 1em;
  
    background-color: a.$genericBg;
    box-shadow: 1px 1px 55px 1px rgba(0, 0, 0, 0.507);
    justify-content: center;
    align-items: left;
    font-weight: bold;
    z-index: 4;
  }
  
  .dropdown-headline {
    padding: 1rem;
    color: #000;
    font-size: 1.2rem;
    font-family: "Lato";
    font-weight: 700;
  }
  
  .menu-list__items {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: a.$accentColor;
    padding: 1rem;
  
    color: a.$buttonHover;
    font-size: 1rem;
    font-family: "Lato";
  }
  
  .menu-list__items > a {
    text-decoration: none;
    margin-left: 1rem;
  
    color: #6f6e6e;
    font-size: 1rem;
    font-family: "Lato";
  }
  
  .menu-list__items > a:hover {
    color: #f15858;
  }
  
  .hero-section {
    @include a.centerFlex();
    height: 777px;
    background-color: #f1e4e6;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  
  .hero-section-img {
    max-width: 100%;
  }
  
  .hero-logo {
    @include a.centerFlex();
    margin: 0;
  }
  
  .hero-line-element {
    width: 12px;
    height: 92px;
    background-color: a.$buttonHover;
  }
  
  .hero-logo-text-wrapper {
    margin-left: 16px;
  }
  
  .logo-line1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
  }
  
  .logo-line2 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
  }
  
  .final-word {
    color: a.$buttonHover;
  }
  
  .tile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .tile-section__tile1 > img,
  .tile-section__tile2 > img,
  .tile-section__tile3 > img {
    width: 100%;
  }
  
  .logo-image {
    width: 1140px;
  }
  
  .tile-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1140px;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
  
    max-height: 260px;
  }
  
  .tile-section,
  .tile-section__tile4 > * {
    text-transform: uppercase;
  }
  
  .tile-section__tile1 > *:not(img),
  .tile-section__tile2 > *:not(img),
  .tile-section__tile3 > *:not(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
  }
  
  .tile-section__tile4 > *:not(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 9rem;
  }
  
  .tile-line1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  
    color: a.$genericBg;
  }
  
  .tile-line2 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  
    color: a.$buttonHover;
  }
  
  .tile2-line1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  
    color: a.$genericBg;
  }
  
  .long-img {
    margin-top: 30px;
    max-width: 100%;
  }
  
  .featured-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .featured-title {
    margin-top: 96px;
    margin-bottom: 6px;
  
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }
  
  .featured-description {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
  
    margin-bottom: 48px;
  }
  
  .featured-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  
    width: min(100% - 0rem, 1140px);
  
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .featured-card > img {
    width: 100%;
  }
  
  .featured-card {
    display: flex;
    flex-direction: column;
    width: min(100% - 0rem, 360px);
    position: relative;
    cursor: pointer;
  }
  
  .card-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 44px;
    inset: 0;
    margin: auto;
    position: absolute;
    top: -30%;
    z-index: 5;
    transition: all 0.3s ease;
  }
  
  .featured-card:hover .card-overlay {
    display: flex;
    cursor: pointer;
  }
  
  .featured-card img:hover {
    position: relative;
    z-index: 2;
    filter: contrast(10%);
  }
  
  .card-overlay:hover ~ img {
    filter: contrast(10%);
  }
  
  .add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 44px;
    border: 2px solid a.$genericBg;
    background: none;
    color: a.$genericBg;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card-icon {
    width: 32px;
    height: 29px;
    margin-right: 1rem;
    position: relative;
  }
  
  .card-icon path {
    fill: a.$genericBg;
  }
  
  .featured-card-title {
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 16px;
  
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  
  .featured-card-desc {
    margin-bottom: 16px;
    width: min(100% - 0rem, 315px);
  
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  
    padding: 1rem;
  
    color: #5d5d5d;
  }
  
  .featured-card-price {
    margin-bottom: 24px;
    margin-left: 16px;
  
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  
    color: a.$buttonHover;
  }
  
  .featured-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 212px);
    height: 48px;
    border: 1px solid #ff6a6a;
  
    background: none;
    margin-top: 48px;
    margin-bottom: 60px;
  
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  
    color: a.$accentColor;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .featured-btn:hover {
    background-color: a.$buttonHover;
    border-color: #ff6a6a;
    color: a.$genericBg;
    & a {
      color: a.$genericBg;
    }
  }
  
  a {
    text-decoration: none;
  }
  
  .additional-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem);
    height: 300px;
    background-color: a.$bgColor;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: min(100% - 0rem, 360px);
    height: 134px;
  }
  
  .info-icon1 {
    display: inline-block;
    background: url(./../img/icons/truck.svg) no-repeat;
    width: 46px;
    height: 32px;
  }
  
  .info-icon2 {
    display: inline-block;
    background: url(./../img/icons/discount.svg) no-repeat;
    width: 40px;
    height: 38px;
  }
  
  .info-icon3 {
    display: inline-block;
    background: url(./../img/icons/crown.svg) no-repeat;
    width: 48px;
    height: 35px;
  }
  
  .info-headline {
    color: #fbfbfb;
    font-size: 1.2475rem;
    font-family: "Lato";
    margin-top: 1.75rem;
  }
  
  .info-description {
    display: flex;
    width: 22.5rem;
    height: 2.125rem;
    color: #fbfbfb;
    text-align: center;
    font-size: 0.87325rem;
    font-family: "Lato";
    font-weight: 300;
    margin-top: 1rem;
  }
  
  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
    position: relative;
    width: min(100% - 0rem);
    height: 448px;
    background-image: url(./img/jpgs_pngs/Layer_41.png);
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    );
    z-index: 1;
  }
  
  .subscribe-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 360px);
    height: 225px;
    position: relative;
    z-index: 2;
  }
  
  .sub-left-pic {
    margin-bottom: 30px;
  }
  
  .subscribe-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 557px);
    height: 225px;
    margin: 0;
    color: #222224;
  
    font-size: 1.5rem;
    font-family: "Lato";
    font-weight: 700;
    line-height: 167.2%;
  
    position: relative;
    z-index: 2;
  }
  
  .subscribe-desc {
    display: flex;
    color: #222224;
    text-align: center;
    font-size: 1.25rem;
    font-family: "Lato";
    text-wrap: balance;
  }
  
  .subscribe-desc2 {
    color: #222224;
    font-size: 1.25rem;
    font-family: "Lato";
    font-style: italic;
  }
  
  .input-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 32px;
  }
  
  .sub-email {
    display: flex;
    width: 356px;
    height: 49px;
    color: a.$buttonHover;
    border-style: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
  }
  
  .sub-email::placeholder {
    color: #222224;
  }
  
  .sub-btn {
    width: 126px;
    height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 1em 1em 0;
    background-color: a.$buttonHover;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .sub-btn:hover {
    background-color: #d6001d;
    color: #fff;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem);
    height: 79px;
    background-color: #222224;
  }
  
  .footer-copyright {
    display: flex;
    width: min(100% - 0rem, 332px);
    color: #fbfbfb;
    font-size: 1rem;
    font-family: "Lato";
  }
  
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 148px);
    margin-left: 40rem;
    gap: 8px;
  }
  
  .icon {
    transition: all 0.2s ease-in-out;
  }
  
  .icon:hover {
    background-color: a.$accentColor;
  }
  
  .icon:hover path {
    transition: all 0.2s ease-in-out;
    fill: a.$genericBg;
  }
  
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: a.$genericBg;
    cursor: pointer;
  }
  