/* Mobile queries */
@use '../styles/mixins/variables' as a;

@media (width < 768px) {
  body {
    padding: 0 0.01rem;
  }

  .header__navigation {
    height: 74px;
    background-color: #222222;
  }

  .header__logo {
    width: 44px;
    height: 38px;
    margin-left: 16px;
    cursor: pointer;
  }

  .header__icon-set {
    justify-content: center;
    align-items: center;
  }

  .header__icon-set2 :not(.header__icon-set2_burger) {
    display: none;
  }

  .cart-item::before {
    display: none;
  }

  .hero-section {
    @include a.centerFlex();
    height: 363px;
  }

  .hero-section > img {
    display: none;
  }

  .hero-logo {
    @include a.centerFlex();
  }

  .header__icon-set {
    display: block;
    width: min(100% - 0rem, 32px);
  }

  .logo-line1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }

  .logo-line2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .tile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 auto;
    margin-top: 380px;
  }

  .tile-section__tile1 > img,
  .tile-section__tile2 > img,
  .tile-section__tile3 > img {
    width: min(100% - 0rem, 343px);
    max-height: 247px;
  }

  .tile-section__tile4 {
    margin-top: 210px;
  }

  .tile-section__tile4 > p {
    top: 15rem;
    position: relative;
    z-index: 1;
  }

  .long-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: min(100% - 0rem, 343px);
    height: 111px;
    object-fit: cover;

    margin: 0 auto;
    position: relative;
    top: 10rem;
  }

  .featured-title {
    margin-top: 15rem;
  }

  .featured-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 28px;
  }

  .featured-btn {
    margin-top: 20px;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: min(100% - 0rem);
    height: 550px;
    background-image: url(./img/jpgs_pngs/Layer_41.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    );
    z-index: 1;
  }

  .subscribe-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 343px);
    height: 194px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    margin-top: 64px;
  }

  .subscribe-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 341px);
    height: 123px;
    margin-top: 59px;
    color: #222224;

    font-size: 1.5rem;
    font-family: "Lato";
    font-weight: 700;
    line-height: 167.2%;

    position: relative;
    z-index: 2;
  }

  .subscribe-desc {
    display: flex;
    color: #222224;
    text-align: center;
    font-size: 1.25rem;
    font-family: "Lato";
    text-wrap: balance;
  }

  .subscribe-desc2 {
    color: #222224;
    font-size: 1.25rem;
    font-family: "Lato";
    font-style: italic;
    margin-bottom: 3.69rem;
  }

  .input-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 6.87rem;
  }
  
  .sub-email {
    display: flex;
    width: 341px;
    height: 49px;
    background-color: #E1E1E1;
    color: #f16d7f;
    border-style: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
  }

  .sub-email::placeholder {
    color: #222224;
  }

  .sub-btn {
    width: 126px;
    height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 1em 1em 0;
    background-color: #f16d7f;
    color: #fff;
    cursor: pointer;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(100% - 0rem, 1000px);
    height: 143px;
    background-color: #222224;
  }

  .footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 4rem;
    width: min(100% - 0rem, 250px);
    color: #fbfbfb;
    font-size: 1rem;
    font-family: "Lato";
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: min(100% - 0rem, 148px);
    gap: 8px;
  }

  .icon {
    transition: all 0.2s ease-in-out;
  }

  .icon:hover {
    background-color: #f26376;
  }

  .icon:hover path {
    transition: all 0.2s ease-in-out;
    fill: white;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: white;
    cursor: pointer;
  }
}
