@use "../styles/mixins/variables" as a;

//nav header

.products__header__navigation {
  @include a.centerFlex();
  height: 74px;
  background-color: a.$bgColor;
  padding-left: 1rem;
  padding-right: 1rem;
}

.products__header__icon-set1 {
  @include a.centerFlex();
}

.products__header__logo {
  width: 44px;
  height: 38px;
  cursor: pointer;
}

.products__header__glass {
  width: 26px;
  margin-left: 41px;
  cursor: pointer;
}

.products__header__icon-set2 {
  @include a.centerFlex();
  position: relative;
  left: 5%;
}

.products__header__icon-set2 > * {
  margin-right: 20px;
  width: 32px;
  height: 30px;

  cursor: pointer;
}

.products__cart-item::before {
  display: flex;
  width: 20px;
  height: 20px;

  position: absolute;
  top: -0.5rem;
  right: 3rem;
  border-radius: 1em;
  background-color: a.$accentColor;
  content: "5";
  justify-content: center;
  align-items: center;
  color: a.$genericBg;
  font-weight: bold;
  z-index: 2;
}

//menu

.products__dropdown {
  display: none;
  flex-direction: column;
  width: 232px;
  height: 630px;

  position: absolute;
  top: 4.6rem;
  right: 25%;
  border-radius: 1em;

  background-color: a.$genericBg;
  box-shadow: 1px 1px 55px 1px rgba(0, 0, 0, 0.507);
  justify-content: center;
  align-items: left;
  font-weight: bold;
  z-index: 4;
}

.products__dropdown-headline {
  padding: 1rem;
  color: #000;
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: 700;
}

.products__menu-list__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: a.$accentColor;
  padding: 1rem;

  color: a.$buttonHover;
  font-size: 1rem;
  font-family: "Lato";
}

.products__menu-list__items > a {
  text-decoration: none;
  margin-left: 1rem;

  color: #6f6e6e;
  font-size: 1rem;
  font-family: "Lato";
}

.products__menu-list__items > a:hover {
  color: #f15858;
}

.products__burger-icon:hover .dropdown {
  display: flex;
}

//bread-crumbs

.products__bread-crumbs-wrapper {
  @include a.centerFlex();
  height: 148px;
  background-color: #f8f3f4;
}

.products__bread-crumbs__heading,
.products__bread-crumbs {
  @include a.centerFlex();
}

.products__bread-crumbs {
  color: #636363;
  font-size: 0.875rem;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.products__bread-crumbs__heading {
  color: a.$buttonHover;
  font-size: 1.5rem;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
}

.products__bread-crumb3 {
  color: a.$buttonHover;
  font-weight: 600;
}

//hero section

.products__hero-section {
  @include a.centerFlex();
  height: 777px;
  background-color: #f7f7f7;
  position: relative;
  z-index: 1;
}

.products__hero-section > img {
  max-width: 100%;
}

.products__left-arrow,
.products__right-arrow {
  @include a.centerFlex();
  width: 50px;
  height: 50px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #2a2a2a2d;
  cursor: pointer;
  &:hover path {
    transition: all 0.2s;
    fill: a.$buttonHover;
  }
}
.products__left-arrow path,
.products__right-arrow path {
  transition: all 0.2s;
}

.products__left-arrow {
  left: 0;
}

.products__right-arrow {
  right: 0;
}

.svg2 path {
  fill: black;
}

// collection section

.products__collection {
  @include a.centerFlex();
  flex-direction: column;
  width: min(100% - 0rem, 1142px);
  height: 600px;
  background-color: a.$genericBg;
  border: 1px solid #eaeaea;
  position: relative;
  top: -4rem;
  z-index: 1;

  padding: 0 64.5px;
}

.products__collection-tag {
  color: a.$buttonHover;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 300;
}

.products__collection-line {
  width: 3.9375rem;
  height: 0.18906rem;
  background-color: a.$pinkUnderline;
  margin-top: 0.76rem;
  margin-bottom: 0.76rem;
}

.products__collection-heading {
  margin-bottom: 3rem;
  color: #4d4d4d;
  font-size: 1.125rem;
  font-family: Lato;
  font-weight: 300;
}

.products__collection-description {
  width: min(100% - 0rem, 34.6875rem);
  color: #5e5e5e;
  text-align: center;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

.products__collection-price {
  color: a.$pinkUnderline;
  font-size: 1.5rem;
  font-family: Lato;
  font-weight: 300;
  margin-bottom: 4rem;
}

.products__collection-line2 {
  width: 40.0625rem;
  height: 0.01rem;
  background-color: #5e5e5e17;
}

.products__collection-size-wrapper {
  @include a.centerFlex();
  & * {
    @include a.centerFlex();
    color: #6f6e6e;
    font-size: 0.875rem;
    font-family: Lato;
    font-weight: 400;
  }
  gap: 1.44rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.products__collection-choose-color {
  @include a.centerFlex();
  gap: 0.6rem;
}

.products__collection-quantity {
  @include a.centerFlex();
  gap: 0.6rem;
}

.products__collection-choose-size {
  @include a.centerFlex();
  gap: 0.6rem;
}

.products__collection-cart-btn {
  @include a.centerFlex;
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
  background: none;

  color: #f26376;
  font-size: 1rem;
  font-family: Lato;
  font-weight: 400;

  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background: a.$buttonHover;
    color: a.$genericBg;
  }
  &__.products-cart-icon {
    & path {
      fill: #ef5b70;
      &:hover {
        fill: a.$genericBg;
      }
    }
  }
}

.products__featured-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  width: min(100% - 0rem, 1140px);

  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.products__featured-card > img {
  max-width: 100%;
}

.products__featured-card {
  display: flex;
  flex-direction: column;
  width: min(100% - 0rem, 360px);
  position: relative;
  cursor: pointer;
  background-color: #f8f8f8;
}

.products__card-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  inset: 0;
  margin: auto;
  position: absolute;
  top: -30%;
  z-index: 5;
  transition: all 0.3s ease;
}

.products__featured-card:hover .products__card-overlay {
  display: flex;
  cursor: pointer;
}

.products__featured-card img:hover {
  position: relative;
  z-index: 2;
  filter: contrast(10%);
}

.products__card-overlay:hover ~ img {
  filter: contrast(10%);
}

.products__add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 44px;
  border: 2px solid a.$genericBg;
  background: none;
  color: a.$genericBg;
  border-radius: 5px;
  cursor: pointer;
}

.products__card-icon {
  width: 32px;
  height: 29px;
  margin-right: 1rem;
  position: relative;
}

.products__card-icon path {
  fill: a.$genericBg;
}

.products__featured-card-title {
  margin-top: 24px;
  margin-left: 16px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.products__featured-card-desc {
  width: min(100% - 0rem, 315px);

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  padding: 1rem;

  color: #5d5d5d;
}

.products__featured-card-price {
  margin-bottom: 24px;
  margin-left: 16px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: a.$buttonHover;
}

.products__featured-btn:hover {
  background-color: a.$buttonHover;
  border-color: #ff6a6a;
  color: a.$genericBg;
}

// products__subscribe section

.products__subscribe {
  @include a.centerFlex();
  position: relative;
  height: 448px;
  background-image: url(./../img/jpgs_pngs/Layer_41.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.products__subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  z-index: 1;
}

.products__subscribe-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 360px);
  height: 225px;
  position: relative;
  top: -2rem;
  left: -7.5rem;
  z-index: 2;
}

.products__sub-left-pic {
  margin-bottom: 40px;
}

.products__subscribe-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 557px);
  height: 225px;
  color: #222224;

  font-size: 1.5rem;
  font-family: "Lato";
  font-weight: 700;
  line-height: 167.2%;

  position: relative;
  z-index: 2;
  top: -0.5rem;
  left: 7rem;
}

.products__subscribe-desc {
  display: flex;
  color: #222224;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Lato";
  text-wrap: balance;
  margin-top: -1rem;
}

.products__subscribe-desc2 {
  color: #222224;
  font-size: 1.25rem;
  font-family: "Lato";
  font-style: italic;
}

.products__input-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 32px;
}

.products__sub-email {
  display: flex;
  width: 356px;
  height: 49px;
  color: a.$buttonHover;
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
}

.products__sub-email::placeholder {
  color: #222224;
}

.products__sub-btn {
  width: 126px;
  height: 49px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 1em 1em 0;
  background-color: a.$buttonHover;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.products__sub-btn:hover {
  background-color: #d6001d;
  color: #fff;
}

// footer section

.products__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: min(100% - 0rem);
  height: 79px;
  background-color: #222224;
}

.products__footer-copyright {
  display: flex;
  width: min(100% - 0rem, 332px);
  color: #fbfbfb;
  font-size: 1rem;
  font-family: "Lato";
}

.products__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(100% - 0rem, 148px);
  margin-left: 40rem;
  gap: 8px;
}

.products__icon {
  transition: all 0.2s ease-in-out;
}

.products__icon:hover {
  background-color: a.$accentColor;
}

.products__icon:hover path {
  transition: all 0.2s ease-in-out;
  fill: a.$genericBg;
}

.products__icon1,
.products__icon2,
.products__icon3,
.products__icon4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: a.$genericBg;
  cursor: pointer;
}